# Java y Gradle
/build/
/.gradle/
/out/

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.temp

# IDEs
# IntelliJ IDEA
.idea/
*.iml

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos del entorno
.env

# Archivos de ejecución de Gradle Wrapper (excepto los necesarios)
!gradlew
!gradlew.bat
!gradle/wrapper/gradle-wrapper.properties
!gradle/wrapper/gradle-wrapper.jar

# Archivos personales opcionales
*.swp
*.swo

# Cobertura y pruebas
/test-output/
*.exec
*.ec
coverage/
jacoco-report/

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
